---
import { contacts } from "../utils/contacts";
const { color = "light" } = Astro.props;
---

<script>
  let hovering = true;

  let menuIsOpened = false;
  let headerHeight = "height: 0px";
  function handleOpenMenu() {
    console.log("click");
    // menuIsOpened = !menuIsOpened;
    // if (menuIsOpened) {
    //   headerHeight = "height: 100vh;";
    //   document.body.style.position = "fixed";
    // } else {
    //   headerHeight = "height: 0px";
    //   document.body.style.position = "";
    // }

    //menuIsOpened = !menuIsOpened;
    if (menuIsOpened) {
      document.getElementById("header-mobile").classList.remove("close");
      document.getElementById("header-mobile").classList.add("open");
    } else {
      document.getElementById("header-mobile").classList.remove("open");
      document.getElementById("header-mobile").classList.add("close");
    }
  }

  function openMenu() {
    console.log("he", document.getElementById("header-mobile"));
    document.getElementById("header-mobile").classList.remove("close");
    document.getElementById("header-mobile").classList.add("open");
  }

  function closeHeaderMobileMenu() {
    if (typeof window.innerWidth < "600") {
      menuIsOpened = false;
      headerHeight = "height: 0px";
      document.body.style.position = "";
    }
  }

  console.log(document.querySelector("toggle-open"));
  document.querySelector(".toggle-menu--open").addEventListener("click", openMenu);

  //typeof window.onresize = closeHeaderMobileMenu; FIXME
</script>

<header>
  <div class="sub-header">
    <span>ENG</span
    <label class="switch">
      <input type="checkbox" checked />
      <span class="slider round"></span>
    </label>
    <span>ITA</span>
  </div>
  <nav>
    <a href="/" title="Home page">
      <img src={`img/topsolution_logo_${color}.svg`} alt="top Solution" />
      </a>
    <ul class="header__link">
      <li>
        <a href="hr-development.html" class="tooltip">
          <strong>
            HR
            <div class="tooltip-text">Risorse Umane</div>
          </strong>
        </a>
      </li>
      <!--
      <a href="software-development.html"
        ><strong
          >DEV <div class="header__link--tooltips">
            Sviluppo Software
          </div></strong
        ></a
      >
      -->
      <li><a href="company.html"><strong>AZIENDA </strong></a></li>
      <li><a href="team.html"><strong>TEAM</strong></a></li>
      <li><a href="contacts.html"><strong>CONTATTI</strong></a></li>
    </ul>
  </nav>
</header>

<!--  style={headerHeight} -->
<header class="header-mobile">
    <div class="menu">
      <a href="index.html">
        <img class="logo" src="img/topsolution_logo_light.svg" alt="top Solution" height="70" /></a
      >
      <img src="img/header/hexMenu.svg" alt="Hex" class="hex" />
      <!--  class:hide={menuIsOpened === false} FIXME - TRY CLASS // class={!menuIsOpened ? "header-mobile__hamburger hide" : "header-mobile__hamburger"} -->
      <!--        onclick="handleOpenMenu()" -->
      <img class="hamburger" src="img/header/hamburgerClose.svg" alt="top Solution" width="50" height="45" class="toggle-close" />
      <!-- class:hide={menuIsOpened === true} FIXME - TRY  // class={menuIsOpened ? "header-mobile__hamburger hide" : "header-mobile__hamburger"}-->
      <!--        onclick="handleOpenMenu()" -->
      <img class="hamburger" src="img/header/hamburger.svg" alt="top Solution" width="50" height="45" class="toggle-open" />
    </div>

    <!-- class:hide={menuIsOpened === false} FIXME - TRY  // class={!menuIsOpened ? "hide" : ""}-->
    <div class="wrapper">
      <img src="img/header/blobHeaderMobile.svg" alt="Main Hex Mobile" class="blob" />
      <img src="img/header/hexMenuMobile.svg" alt="Main Hex Mobile" class="main-hex" />
      <img src="img/header/header-mobile-hex.svg" alt="Hex" class="hex-group" />

      <nav>
        <a href="index.html">HOME</a>
        <a href="hr-development.html"
          >HR
          <span class="header-mobile__links--slime">Risorse Umane</span></a
        >
        <!-- <a href="software-development.html"
          >DEV
          <span class="header-mobile__links--slime">Sviluppo Software</span></a
        > -->
        <a href="haka.html#plans">TARIFFE</a>
        <a href="company.html">AZIENDA</a>
        <a href="team.html">TEAM</a>
        <a href="contacts.html">CONTATTI</a>
        <div class="sub-header">
          <span>ENG</span>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
          <span>ITA</span>
        </div>
        <!-- class:hide={menuIsOpened === false} FIXME - TRY // class={!menuIsOpened ? "hide" : ""}-->
        <div class="header-mobile__contacts">
          <div class="header-mobile__contacts--item">
            <img src="img/icons/phone.svg" alt="" />
            <a href={`tel:${contacts.phone}`}>
              <span>{contacts.phone}</span>
            </a>
            a
          </div>
          <div class="header-mobile__contacts--item">
            <img src="img/icons/mail.svg" alt="" />
            <a href={`mailto:${contacts.email}`}>
              <span>{contacts.email}</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
</header>

<style lang="scss">
  $hamburger-z-index: 1000;

  header {
    max-width: 900px;
    margin: 0 auto;
    @media only screen and (max-width: 600px) {
      //display: none;
    }

    .sub-header {
      display: flex;
      justify-content: flex-end;
      height: 30px;
      align-items: center;
      padding: var(--spacing-3) var(--spacing-1) var(--spacing-2);

      span {
        @media only screen and (max-width: 600px) {
          color: var(--color-white);
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-1) 0;

    img {
      height: 50px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        list-style: none;
      }

      a {
        margin: 0 var(--spacing-3);
        text-decoration: none;
        font-size: 24px;
        line-height: 28px;

        &:hover {
          color: var(--color-blue-hovering);
          text-decoration: underline;
        }

        &:last-of-type {
          margin-right: var(--spacing-2);
        }
      }

      .tooltip-text {
        background: rgba(97, 97, 97, 0.9);
        border-radius: 4px;
        color: white;
        padding: 0 4px;
        font-weight: 500;
        position: absolute;
        margin-left: -20;
        margin-top: 5;
        z-index: 10;
        font-size: 10px;
        max-height: 26px;
        display: none;
      }

      .tooltip:hover {
        .tooltip-text {
          display: block;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .header-mobile {
    min-height: 100px;
    display: static !important;

    @media only screen and (min-width: 600px) {
      display: none;
    }

    .hex-group {
      position: absolute;
      z-index: -1;
      top: -160px;
      left: -185px;
      pointer-events: none;
    }

    .wrapper {
      position: relative;
      top: -35px;
      transition: opacity var(--transition-timing-default) var(--transition-function-default);
    }

    .main-hex {
      position: absolute;
      z-index: -1;
      margin-left: 50%;
      transform: translate(-50%, 0);
      top: 10vw;
    }

    .blob {
      position: absolute;
      z-index: -1;
      top: -30px;
      right: -75px;
      pointer-events: none;
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        margin: 24px;
        max-width: 220px;
      }

      .hex {
        position: absolute;
        top: -35px;
        right: -130px;
        overflow: hidden;
        z-index: $hamburger-z-index;
      }

      .hamburger {
        z-index: $hamburger-z-index + 10;
        position: absolute;
        top: 30px;
        right: 15px;
        cursor: pointer;
        transition: opacity var(--transition-timing-default) var(--transition-function-default);
      }
    }
    &__hex {
      position: absolute;
      top: -35px;
      right: -130px;
      overflow: hidden;
      z-index: $hamburger-z-index;
    }

    &__hamburger {
      z-index: $hamburger-z-index + 10;
      position: absolute;
      top: 30px;
      right: 15px;
      cursor: pointer;
      transition: opacity var(--transition-timing-default) var(--transition-function-default);
    }

    nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      width: 100%;
      margin-top: 25vw;
      align-items: center;
      justify-content: center;

      &--slime {
        font-size: 18px;
        font-weight: 400;
        margin-left: 8px;
      }

      a {
        margin: var(--spacing) 0;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        color: var(--color-white);
      }
    }

    &__contacts {
      margin-top: var(--spacing-10);
      color: var(--color-blue);
      transition: opacity var(--transition-timing-slow) var(--transition-function-default);
      width: 100%;

      a {
        color: var(--color-blue);
        font-size: 20px;
        font-weight: 400;
      }

      span {
        margin-left: var(--spacing-2);
      }

      &--item {
        display: flex;
        justify-content: flex-start;
        margin: var(--spacing-1) var(--spacing-3);
        align-items: center;
        min-height: 44px;
        font-size: 20px;
        font-weight: 400;

        img {
          width: 22px;
          height: 22px;
        }
      }

      @media only screen and (max-height: 780px) {
        display: none;
      }
    }
  }

  .open {
    height: 100vh;
    position: fixed;
  }
  .close {
    height: 0px;
    position: unset;
  }

  //Switch
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
    margin: 0 16px;

    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    //position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 39, 131, 0.4);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    @media only screen and (max-width: 600px) {
      background-color: var(--color-blue-hovering);
    }

    &:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      right: 20px;
      bottom: -5px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      background-image: url("/img/languageSwitcher/en.svg");
    }
  }

  input:checked + .slider:before {
    background-image: url("/img/languageSwitcher/it.svg");
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }

  /* Hamburgers */

  .hide {
    opacity: 0;
  }

  .body-fixed {
    position: fixed;
  }
</style>
