---
import { Icon } from "astro-icon";
import { contacts } from "../utils/contacts";
const { color = "light" } = Astro.props;
---

<header>
  <div class="sub-header">
    <span>ENG</span>
    <label class="switch">
      <input type="checkbox" checked />
      <span class="slider round"></span>
    </label>
    <span>ITA</span>
  </div>
  <nav aria-label="Men첫 principale">
    <a href="/" title="Home page">
      <img src={`../img/topsolution_logo_${color}.svg`} alt="top Solution" />
    </a>
    <ul>
      <li>
        <a href="/hr-development/" class="tooltip">
          <strong>
            HR
            <div class="tooltip-text">Risorse Umane</div>
          </strong>
        </a>
      </li>
      <li><a href="/company/"><strong>AZIENDA </strong></a></li>
      <li><a href="/team/"><strong>TEAM</strong></a></li>
      <li><a href="contacts.html"><strong>CONTATTI</strong></a></li>
    </ul>
  </nav>

  <div class="header-mobile">
    <div class="menu">
      <a href="index.html" title="Home Page">
        <img class="logo" src="../img/topsolution_logo_light.svg" alt="top Solution" height="70" /></a
      >
      <img src="../img/header/hexMenu.svg" alt="Hex" class="hex" />

      <button class="hamburger toggle-close" aria-label="Chiudi men첫" aria-expanded="false">
        <Icon pack="mdi" name="close" />
      </button>
      <button class="hamburger toggle-open" aria-label="Apri men첫" aria-expanded="true">
        <Icon pack="mdi" name="menu" />
      </button>
    </div>

    <div class="wrapper">
      <img src="../img/header/blobHeaderMobile.svg" alt="Main Hex Mobile" />
      <img src="../img/header/hexMenuMobile.svg" alt="Main Hex Mobile" class="main-hex" />
      <img src="../img/header/header-mobile-hex.svg" alt="Hex" class="hex-group" />

      <nav aria-label="Men첫 mobile">
        <ul>
          <li>
            <a href="index.html">HOME</a>
          </li>
          <li>
            <a href="hr-development.html"
              >HR
              <span>Risorse Umane</span></a
            >
          </li>
          <!-- <a href="software-development.html"
          >DEV
          <span class="header-mobile__links--slime">Sviluppo Software</span></a
        > -->
          <li><a href="haka.html#plans">TARIFFE</a></li>
          <li><a href="company.html">AZIENDA</a></li>
          <li><a href="team.html">TEAM</a></li>
          <li><a href="contacts.html">CONTATTI</a></li>
        </ul>
        <div class="sub-header">
          <span>ENG</span>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
          <span>ITA</span>
        </div>
        <ul class="contacts">
          <li>
            <img src="../img/icons/phone.svg" alt="" />
            <a href={`tel:${contacts.phone}`}>
              <span>{contacts.phone}</span>
            </a>
          </li>
          <li>
            <img src="../img/icons/mail.svg" alt="" />
            <a href={`mailto:${contacts.email}`}>
              <span>{contacts.email}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  function openMenu() {
    document.querySelector(".wrapper").classList.add("nav-visible");
    document.querySelector("html").style.overflow = "hidden";

    document.querySelector(".toggle-open").classList.add("toggle-close");
    document.querySelector(".toggle-open").classList.remove("toggle-open");

    document.querySelector(".toggle-close").classList.add("toggle-open");
    document.querySelector(".toggle-close").classList.remove("toggle-close");
  }

  function closeMenu() {
    document.querySelector(".wrapper").classList.remove("nav-visible");
    document.querySelector("html").style.overflow = "auto";

    document.querySelector(".toggle-close").classList.add("toggle-open");
    document.querySelector(".toggle-close").classList.remove("toggle-close");

    document.querySelector(".toggle-open").classList.add("toggle-close");
    document.querySelector(".toggle-open").classList.remove("toggle-open");
  }

  document.querySelector(".toggle-open").addEventListener("click", openMenu);
  document.querySelector(".toggle-close").addEventListener("click", closeMenu);
</script>

<style>
  header {
    max-width: 900px;
    margin: 0 auto;
  }

  header .sub-header {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    align-items: center;
    padding: var(--spacing-3) var(--spacing-1) var(--spacing-2);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-1) 0;
  }

  nav img {
    height: 50px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  nav li {
    list-style: none;
  }

  nav a {
    margin: 0 var(--spacing-1);
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
  }

  nav a:hover {
    color: var(--color-blue-hovering);
    text-decoration: underline;
  }

  nav a:last-of-type {
    margin-right: var(--spacing-2);
  }

  .tooltip-text {
    background: rgba(97, 97, 97, 0.9);
    border-radius: 4px;
    color: white;
    padding: 0 4px;
    font-weight: 500;
    position: absolute;
    margin-left: -20;
    margin-top: 5;
    z-index: 10;
    font-size: 10px;
    max-height: 26px;
    display: none;
  }

  .tooltip:hover .tooltip-text {
    display: block;
  }

  .header-mobile {
    display: none;
  }

  .open {
    height: 100vh;
    position: fixed;
  }
  .close {
    height: 0px;
    position: unset;
  }

  /* Switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
    margin: 0 16px;
    background-color: rgba(49, 39, 131, 0.4);
    border-radius: 14px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    //position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 39, 131, 0.4);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    right: 20px;
    bottom: -5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-image: url("/img/languageSwitcher/en.svg");
  }

  input:checked + .slider:before {
    background-image: url("/img/languageSwitcher/it.svg");
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* Hamburgers */
  .hide {
    opacity: 0;
  }

  .body-fixed {
    position: fixed;
  }

  @media only screen and (min-height: 780px) {
    .header-mobile .contacts {
      display: none;
    }
  }

  /* Mobile */
  @media only screen and (max-width: 600px) {
    header .sub-header span {
      color: var(--color-white);
    }

    header .sub-header {
      display: none;
    }

    header .header-mobile .sub-header {
      display: unset;
    }

    .header-mobile .switch {
      background-color: var(--color-blue-hovering);
    }
    nav {
      display: none;
    }

    .header-mobile {
      min-height: 100px;
      display: unset;
    }

    .header-mobile .hex-group {
      position: absolute;
      z-index: -1;
      top: -160px;
      left: -185px;
      pointer-events: none;
    }

    .header-mobile .wrapper {
      //display: none;
      height: 0;
      opacity: 0;
      position: relative;
      top: -35px;
      transition: opacity var(--transition-timing-default) var(--transition-function-default);
    }

    .header-mobile .main-hex {
      position: absolute;
      top: 7vw;
      margin-left: 50%;
      transform: translate(-50%, 0);
    }
    .header-mobile .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-mobile .logo {
      margin: 24px;
      max-width: 220px;
    }

    .header-mobile .hex {
      position: absolute;
      top: -35px;
      right: -130px;
      overflow: hidden;
      z-index: 1000;
    }

    .header-mobile .menu .hamburger {
      background: transparent;
      border: 0;
      color: var(--color-white);

      z-index: calc(1000 + 10);
      position: absolute;
      top: 30px;
      right: 15px;
      cursor: pointer;
      transition: opacity var(--transition-timing-default) var(--transition-function-default);
      min-width: 60px;
      min-height: 60px;
    }

    .header-mobile nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 10vh;
      text-align: center;
    }

    .header-mobile nav ul {
      display: block;
      padding: auto;
    }

    .header-mobile nav a {
      margin: var(--spacing) 0;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      color: var(--color-white);
    }

    .header-mobile nav a span {
      font-size: 18px;
      font-weight: 400;
      margin-left: 10px;
    }

    .header-mobile li {
      padding: var(--spacing-1) 0;
    }

    .header-mobile .contacts {
      margin-top: var(--spacing-10);
      color: var(--color-blue);
      transition: opacity var(--transition-timing-slow) var(--transition-function-default);
      width: 100%;
    }

    .header-mobile .contacts a {
      color: var(--color-blue);
      font-size: 20px;
      font-weight: 400;
    }

    .header-mobile .contacts span {
      margin-left: var(--spacing-2);
    }

    .header-mobile .contacts li {
      display: flex;
      justify-content: flex-start;
      margin: var(--spacing-1) var(--spacing-3);
      align-items: center;
      min-height: 44px;
      font-size: 20px;
      font-weight: 400;
    }

    .header-mobile .contacts li img {
      width: 22px;
      height: 22px;
    }

    .toggle-close {
      display: none;
    }

    .toggle-open {
      display: block !important;
    }

    .nav-visible {
      height: 100% !important;
      opacity: 1 !important;
    }
  }
</style>
