---
import { Icon } from 'astro-icon'
import Button from './Button.astro';
import Blob from './Blob.astro';
const { title, blobs, buttonlink } = Astro.props;
---

<section>
  <h1>{title}</h1>
  <div class="container">
    {blobs.map((blob) => (
    <a href={blob.href}>
      <Blob interactive={true} shape="rectangle" fill={blob.color} padding="20" clickable="true">
        <div class="text">
          <p>
            <img src={`../img/icons/${blob.icon}`} alt="devices icon" width="50" height="35" />
          </p>
          <h2>
            <b>{blob.title}</b>
          </h2>
          <h6>
            {blob.subtitle}
          </h6>
        </div>
      </Blob>
    </a>
    ))}
  </div>
  <div class="container-mobile">
    {blobs.map((blob) => (
    <a href={blob.href} style={`background-color: ${blob.colorMobile}`}>
      <h5>{blob.title}</h5>
      <Icon pack="mdi" name="arrow-right" />
    </a>
    ))}
  </div>
</section>

<style>
  section {
    margin-top: var(--spacing-4);
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-10);
    color: var(--color-blue);
  }

  h2 {
    font-size: 22px;
    padding: 0 var(--spacing-2);
  }

  h6 {
    font-size: 18px;
    padding: 0 var(--spacing-2);
  }

  .container-mobile {
    display: none;
  }

  a {
    margin: 0 var(--spacing-2);
    min-width: 280px;
  }

  .text {
    text-align: center;
  }

  p {
    margin-bottom: var(--spacing-1);
  }

  @media only screen and (max-width: 960px) {

    .container {
      display: none;
    }

    .container-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      width: 327px;
      height: 90px;
      border-radius: 4px;
      margin: var(--spacing-2) 0;
      padding: var(--spacing-2);
      justify-content: space-between;
    }

    h5 {
      color: var(--color-white);
      flex: 0 0 80%;
    }

    svg {
      color: var(--color-white) !important;
      width: 32px;
      height: 32px;
    }
  }
</style>